<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>リキッド画面（左のみ余白）テンプレート</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="ly_wrapper">

      <!-- gNav(PC用) -->
      <!-- ##import_global_navigation_pc## -->

      <!-- header -->
      <!-- ##import_header## -->

      <main class="ly_main">
        <div class="ly_liquidCont">
          <div class="ly_liquidCont_inner ly_liquidCont_inner__left">


            テンプレートテンプレートテンプレート



          </div>
          <!-- /.ly_liquidCont_inner -->
        </div>
        <!-- /.ly_liquidCont -->
      </main>

      <!-- gNav(SP用) -->
      <!-- ##import_global_navigation_sp## -->

      <!-- footer -->
      <!-- ##import_footer## -->
    </div>
    <!-- /.ly_wrapper -->

    <!-- java scripts-->
    <script src="../../../prod_assets/js/jquery.min.js"></script>
    <script src="../../../prod_assets/js/common.js"></script>
  </body>
</html>
