@charset "UTF-8";

/* prod_sp
============================================================================= */

/***************************************
   仮header
****************************************/
.bl_headerUtils {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bl_headerIconUnit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/***************************************
   仮breadcrumb
****************************************/
.bl_footerBreadcrumb_wrapper {
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding: 16px 4.103vw;
}
.bl_footerBreadcrumb {
  display: flex;
  align-items: center;
  font-size: 10px;
}
.bl_footerBreadcrumb li a {
  /*color: #3B4043;*/
}
.bl_footerBreadcrumb li:last-child a {
  /*color: #999999;*/
}
.bl_footerBreadcrumb li::after {
  content: ">";
  padding: 0 8px;
  /*color: #999999;*/
}
.bl_footerBreadcrumb li:last-child::after {
  content: '';
}

/***************************************
   仮gNav
****************************************/
.bl_gNavUnit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bl_gNavUnit > li {
  text-align: center;
  width: 100%;
}

/***************************************
   *その他
****************************************/
/*チェックボタン縦並び*/
.bl_checkBoxUnit {
  display: inline-flex;
  flex-direction: column;
}
.bl_checkBoxUnit .el_checkBox:not(:last-child) {
  margin-bottom: 16px;
}
/*ラジオボタン横並び*/
.bl_radioBtnFx .el_radioBtn:not(:last-child) {
  margin-right: 16px;
}
