@charset "UTF-8";

/* prod_sp
============================================================================= */

/***************************************
   footer
****************************************/
.el_footerCopyright {
    font-size: 12px;
    text-align: left;
}

/***************************************
   title
****************************************/
.el_pageTtl {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

/***************************************
   button
****************************************/



/***************************************
   label
****************************************/


/***************************************
   gNav
****************************************/
.el_topIcon {
    color: #A2A2A2;
    white-space: nowrap;
    font-size: 12px;
    transform: scale(0.7);
    display: inline-block;
}
.el_topIcon::before {
    content: "";
    display: block;
    background-size: contain;
    margin: auto;
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
}
.el_topIcon.el_topIcon__home::before {
    background-image: url("../../../../assets/img/svg/ico/ico_home_sp.svg");
}
.el_topIcon.el_topIcon__search::before {
    background-image: url("../../../../assets/img/svg/ico/ico_search_sp.svg");
}
.el_topIcon.el_topIcon__myList::before {
    background-image: url("../../../../assets/img/svg/ico/ico_mylist_sp.svg");
}
.el_topIcon.el_topIcon__profile::before {
    background-image: url("../../../../assets/img/svg/ico/ico_profile_sp.svg");
}
.el_topIcon.el_topIcon__setting::before {
    background-image: url("../../../../assets/img/svg/ico/ico_setting_gy_sp.svg");
}

/***************************************
   form
****************************************/
.el_form_label {
    cursor: pointer;
    display: flex;
}
.el_form_label.el_form__middle {
    align-items: center;
}
.el_form_label.el_form__center {
    justify-content: center;
}
.el_form_label.el_form__base {
    align-items: end;
}

/* ラジオボタン */
.el_radioBtn {
    position: relative;
    display: inline-block;
}
.el_form_radio_txt {
    margin-left: 8px;
    ;
}
.el_form_input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.el_form_radio {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid #E4E4E4;
    border-radius: 50vh;
    opacity: 0.5;
}
.el_form_radio:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #FFF;
    border-radius: 50vh;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.el_form_input[type="radio"]:checked + .el_form_label .el_form_radio {
    background: transparent linear-gradient(134deg, #E528CF 0%, #FE8B29 100%) 0% 0% no-repeat padding-box;
    border: 0px solid transparent;
    opacity: 1;
}
.el_form_input[type="radio"]:checked + .el_form_label .el_form_radio:before {
    opacity: 1;
}

/*チェックボタン*/
.el_checkBox {
    position: relative;
    display: inline-block;
}
.el_form_input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.el_form_checkbox {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid #E4E4E4;
    opacity: .5;
    border-radius: 8px;
}
.el_form_checkbox:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: .7em;
    height: .35em;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: translate(-50%, -70%) rotate(-45deg);
    transform: translate(-50%, -70%) rotate(-45deg);
    transition: ease-out .3s;
    opacity: 0;
}
.el_form_input[type="checkbox"]:checked + .el_form_label .el_form_checkbox {
    background: transparent linear-gradient(135deg, #E528CF 0%, #FE8B29 100%);
    border: none;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .5);
    opacity: 1;
}
.el_form_input[type="checkbox"]:checked + .el_form_label .el_form_checkbox:before {
    opacity: 1;
}
.el_form_checkbox_txt {
    margin-left: 8px;
    line-height: 24px;
}

/*トグル全体*/
.el_toggleBtn {
    position: relative;
    width: 56px;
    height: 32px;
}
.el_toggleInput {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    margin: 0;
}
/*トグル本体*/
.el_toggleLabel {
    width: 56px;
    height: 32px;
    background: transparent linear-gradient(120deg, #E528CF 0%, #FE8B29 100%) 0% 0% no-repeat padding-box;
    position: relative;
    display: inline-block;
    border-radius: 50vh;
    transition: ease-out .3s;
    box-sizing: border-box;
}
/*トグル丸*/
.el_toggleLabel:after {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50vh;
    left: 26px;
    top: 2px;
    z-index: 1;
    background: #FFF;
    transition: ease-out .3s;
}
/*トグルON本体色*/
.el_toggleInput:checked + .el_toggleLabel {
    background: #AEAEAE;
}
/*トグルON丸位置*/
.el_toggleInput:checked + .el_toggleLabel:after {
    left: 2px;
}

/***************************************
   Function
****************************************/
/*.el_search {
  transition: .25s;
}
.el_search input {
  border-radius: 50vh;
  -moz-border-radius: 50vh;
  -webkit-border-radius: 50vh;
  -khtml-border-radius: 50vh;
  border: solid 1px #bebebe;
  background-color: #fff;
  margin: 0;
  outline: none;
  position: relative;
  width: 100%;
  padding: 10px 20px 10px 40px;
  border-radius: 50vh;
  font-size: 14px;
  background-image: url("../../../../../assets/img/svg/ico/ico_search_sp.svg");
  background-repeat: no-repeat;
  background-position: center left 10px;
  background-size: auto 50%;
}
.el_search input::placeholder {
  color: #ccc;
}*/


/* compornents
============================================================================= */

/***************************************
   SP_B_10　リスト（通常）
****************************************/
.sp_b_10_list > *:last-child {
    margin-bottom: 0;
}
.sp_b_10_list > li {
    position: relative;
    padding-left: 23px;
    margin-bottom: 16px;
    line-height: calc(22 / 14);
}
.sp_b_10_list > li::before {
    content: '・';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

/***************************************
  c_label C_1　ステータスアイコン
****************************************/
.c_label_status_con_ranking {
    display: inline-block;
    padding: 0.367vw 0.44vw;
    border-radius: 0.88vw 0px 0.88vw 0px;
    background: transparent linear-gradient(137deg, #5800FF 0%, #E528CF 69%, #FFED14 100%);
    color:#FFFFFF;
}
.c_1_statusIcon_gradation {
    padding: 3px 4px;
    display: inline-block;
    border-radius: 50vh;
    font-size:0.546vw;
    font-weight: 600;
    background: transparent linear-gradient(111deg, #FFED14 0%, #FF5B05 52%, #FA2ABF 100%);
}
.c_1_statusIcon_back_pink_jp {
    padding: 3px 4px;
    display: inline-block;
    border-radius: 50vh;
    font-size: 0.546vw;
    font-weight: 500;
    background: #FA2ABF;
}
.c_1_statusIcon_back_pink_en {
    padding: 3px 4px;
    display: inline-block;
    border-radius: 50vh;
    font-size: 0.546vw;
    border-radius: 50vh;
    font-weight: 600;
    background: #FA2ABF;
}
.c_1_statusIcon_txt_pink {
    padding: 3px 4px;
    display: inline-block;
    border-radius: 50vh;
    font-size: 0.546vw;
    font-weight: 600;
    color: #FA2ABF;
    background: #FFFFFF;
}
.c_1_statusIcon_white {
    padding: 3px 4px;
    display: inline-block;
    border-radius: 50vh;
    font-size: 0.546vw;
    font-weight: 500;
    color: #333333;
    background: #FFFFFF;
}
.c_1_statusIcon_white_live::before {
    content: "●";
    color: #FA2ABF;
}
.c_1_statusIcon_pay_gray {
    color: #FFFFFF;
    border-radius: 0.51vw 0px 1.22vw 0px;
    padding: 4px;
    background: #999999;
    font-size: 0.546vw;
    font-weight: 600;
    display: inline-block;
}
.c_1_statusIcon_gray_en {
    background: rgba(255,255,255,0.15);
    padding: 4px;
    display: inline-block;
    font-size: 0.683vw;
    border-radius: 0.342vw;
}
.c_1_statusIcon_gray_jp {
    background: rgba(255,255,255,0.15);
    padding: 4px;
    display: inline-block;
    font-size: 0.683vw;
    border-radius: 0.342vw;
}

/***************************************
  c_label C_2　ステータスアイコン（詳細）
****************************************/
.c_1_statusIcon_details_back_pink {
    padding:3px 4px;
    display: inline-block;
    border-radius: 50vh;
    font-size: 0.478vw;
    font-weight: 600;
    background: #FA2ABF;
}
.c_1_statusIcon_details_back_white {
    padding:3.5px 4px;
    display: inline-block;
    border-radius: 50vh;
    font-size: 0.546vw;
    font-weight: 600;
    color: #FA2ABF;
    background: #FFFFFF;
}
.c_1_statusIcon_details_back_gray {
    background: #999999;
    padding:3.5px 4px;
    display: inline-block;
    border-radius: 50vh;
    font-size: 0.546vw;
    font-weight: 600;
}

/***************************************
  c_label C_3　数字タグ
****************************************/
.c_3_tag_number_1 {
    padding: 0.5px 5px;
    border-radius: 50vh;
    background: #FA2ABF;
    font-size: 12px;
    font-weight: bold;
}
.c_3_tag_number_2 {
    padding: 4px 6px;
    border-radius: 50vh;
    background: #FA2ABF;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.c_3_tag_number_3 {
    padding: 4px 9px 4px 4px;
    border-radius: 50vh;
    background: #FA2ABF;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
}

/***************************************
  c_label C_5　カテゴリータグ
****************************************/
.c_5_categoryTag {
    padding: 4px;
    border-radius: 5px;
    background: #FFFFFF;
    color: #151515;
    display: inline-block;
    font-size: 10px;
}

/************************************
   D_1　テキストリンク
*************************************/
.d_1_textLink {
    display: flex;
    flex-direction: column;
}
.d_1_textLink a {
    display: inline-block;
    width: fit-content;
    font-size: 14px;
    font-weight: 600;
    color: #FF55CF;
}
.d_1_textLink a:not(:last-of-type) {
    margin-bottom: 16px;
}
/************************************
   D_2　外部リンク
*************************************/
.d_2_externalLink {
    display: flex;
    flex-direction: column;
}
.d_2_externalLink a {
    display: inline-block;
    width: fit-content;
    font-size: 14px;
    font-weight: 600;
    color: #FF55CF;
    padding-right: 20px;
    background: url("../../../../prod_assets/img/compornents/g_icon/s_window_pink.svg") right center/ auto no-repeat;
}
.d_2_externalLink a:not(:last-of-type) {
    margin-bottom: 16px;
}

/************************************
   D_3　メニューリンク
*************************************/
.d_3_menuLink_fx {
    display: flex;
    justify-content: space-between;
}
.d_3_menuLink {
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.d_3_menuLink > li > a {
    padding: 17px 30.08px 17px 0;
    position: relative;
    display: flex;
}
.d_3_menuLink > li:not(:last-child) {
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.d_3_menuLink a::after {
    content: "";
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    right: 6px;
    transform: rotate(45deg);
}
/*************************************
   D_4　記事リスト
**************************************/
.d_4_articleList div {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
}
.d_4_articleList span:nth-child(2) {
    font-size: 12px;
    font-weight: 600;
    margin-left: 8px;
}
.d_4_articleList p:not(:last-of-type) {
    margin-bottom: 12px;
}
.d_4_articleList_ttl {
    font-size: 16px;
    font-weight: 600;
}
.d_4_articleList_txt {
    font-size: 12px;
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: calc(24 / 14);
}
.d_4_articleList {
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.d_4_articleList > li > a {
    padding: 16px 30.8px 16px 0;
    position: relative;
    display: block;
}
.d_4_articleList > li:not(:last-child) {
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.d_4_articleList a::after {
    content: "";
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    right: 6px;
    transform: rotate(45deg);
}
.d_4_articleList li.is_active {
    opacity: 0.5;
}

/**************************************
   E_1　Primaryボタン（アイコンなし)
***************************************/
.e_button_column　{
    text-align: center;
}
.e_button_column li:not(:last-child) {
    margin-bottom: 16px;
}
.e_1_primaryBtn_noIcon {
    display: inline-block;
    padding: 15px 52px;
    width: 358px;
    max-width: 100%;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.26px;
    border-radius: 50vh;
    border: 1px solid transparent;
    background:transparent linear-gradient(90deg, #E528CF 0%, #FE8B29 100%) 0% 0% no-repeat padding-box;
    text-align: center;
}

/**************************************
   E_1　Primaryボタン（デフォルト）
 ***************************************/
.e_1_primaryBtn_default {
    margin-left: 23px;
}
.e_1_primaryBtn_default {
    display: inline-block;
    padding: 15px 52px;
    width: 358px;
    max-width: 100%;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50vh;
    border: 1px solid transparent;
    background:transparent linear-gradient(90deg, #E528CF 0%, #FE8B29 100%) 0% 0% no-repeat padding-box;
    position: relative;
    text-align: center;
}
.e_1_primaryBtn_default::before {
    content: url(../../../../prod_assets/img/compornents/g_icon/s_play.svg);
    position: absolute;
    left: 27%;
    top: 28%;
}

/**************************************
   E_2　Primaryミニボタン（アイコンなし）
***************************************/
.e_2_primaryminiBtn_noIcon {
    display: inline-block;
    padding: 11px 16px;
    width: 358px;
    max-width: 100%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.26px;
    border-radius: 50vh;
    border: 1px solid transparent;
    background:transparent linear-gradient(90deg, #E528CF 0%, #FE8B29 100%) 0% 0% no-repeat padding-box;
    text-align: center;
}

/**************************************
   E_2　Primaryミニボタン（デフォルト）
***************************************/
.e_2_primaryminiBtn_default_txt{
    margin-left: 23px;
}
.e_2_primaryminiBtn_default {
    display: inline-block;
    padding: 11px 16px;
    width: 358px;
    max-width: 100%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50vh;
    border: 1px solid transparent;
    background:transparent linear-gradient(90deg, #E528CF 0%, #FE8B29 100%) 0% 0% no-repeat padding-box;
    position: relative;
    text-align: center;
}
.e_2_primaryminiBtn_default::before {
    content: url(../../../../prod_assets/img/compornents/g_icon/s_play.svg);
    position: absolute;
    left: 29.3%;
    top: 23%;
}

/**************************************
   E_3　Secondaryボタン（アイコンなし）
***************************************/
.e_3_secondaryBtn_noIcon {
    display: inline-block;
    padding: 15px 52px;
    width: 358px;
    max-width: 100%;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.26px;
    border-radius: 50vh;
    background-color: #FFFFFF;
    color: #000;
    text-align: center;
}

/**************************************
   E_3　Secondaryボタン（デフォルト）
***************************************/
.e_3_secondaryBtn_default_playBtn_txt{
    margin-left: 23px;
}
.e_3_secondaryBtn_default_link_txt{
    margin-right: 34px;
}
.e_3_secondaryBtn_default_playBtn {
    display: inline-block;
    padding: 15px 52px;
    width: 358px;
    max-width: 100%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50vh;
    background-color: #FFFFFF;
    position: relative;
    color: #000;
    text-align: center;
}
.e_3_secondaryBtn_default_link {
    display: inline-block;
    padding: 15px 52px;
    width: 358px;
    max-width: 100%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50vh;
    background-color: #FFFFFF;
    position: relative;
    color: #000;
    text-align: center;
}
.e_3_secondaryBtn_default_playBtn::before {
    content: url(../../../../prod_assets/img/compornents/g_icon/s_play_black.svg);
    position: absolute;
    left: 27%;
    top: 28%;
}
.e_3_secondaryBtn_default_link::after {
    content: url(../../../../prod_assets/img/compornents/g_icon/s_window.svg);
    position: absolute;
    right: 28.6%;
    top: 29%;
}

/**************************************
   E_4　Secondaryミニボタン（アイコンなし）
***************************************/
.e_4_secondaryminiBtn_noIcon {
    display: inline-block;
    padding: 11px 16px;
    width: 358px;
    max-width: 100%;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.26px;
    border-radius: 50vh;
    background-color: #FFFFFF;
    color: #000;
    text-align: center;
}

/**************************************
   E_4　Secondaryミニボタン（デフォルト）
***************************************/
.e_4_secondaryminiBtn_default_txt {
    margin-left: 23px;
}
.e_4_secondaryminiBtn_default {
    display: inline-block;
    padding: 11px 16px;
    width: 358px;
    max-width: 100%;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50vh;
    background-color: #FFFFFF;
    position: relative;
    color: #000;
    text-align: center;
}
.e_4_secondaryminiBtn_default::before {
    content: url(../../../../prod_assets/img/compornents/g_icon/s_play_black.svg);
    position: absolute;
    left: 29.3%;
    top: 23%;
}

/**************************************
   E_5　Tertiaryボタン（アイコンなし）
***************************************/
.e_5_tertiaryBtn_noIcon {
    display: inline-block;
    padding: 15px 52px;
    width: 358px;
    max-width: 100%;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.26px;
    border-radius: 50vh;
    border: 1px solid rgba(225,225,225,0.3);
    background: transparent;
    opacity: 1;
    text-align: center;
}

/**************************************
   E_5　Tertiaryボタン（デフォルト）
***************************************/
.e_5_tertiaryBtn_default_txt {
    margin-left: 23px;
}
.e_5_tertiaryBtn_default {
    display: inline-block;
    padding: 15px 52px;
    width: 358px;
    max-width: 100%;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50vh;
    border: 1px solid rgba(225,225,225,0.3);
    background: transparent;
    opacity: 1;
    position: relative;
    text-align: center;
}
.e_5_tertiaryBtn_default::before {
    content: url(../../../../prod_assets/img/compornents/g_icon/s_download.svg);
    position: absolute;
    left: 27%;
    top: 28%;
}

/**************************************
   E_6　Tertiaryミニボタン（アイコンなし）
***************************************/
.e_6_tertiaryminiBtn_noIcon {
    display: inline-block;
    padding: 10px 16px;
    width: 358px;
    max-width: 100%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.26px;
    border-radius: 50vh;
    border: 1px solid rgba(225,225,225,0.3);
    background: transparent;
    opacity: 1;
    text-align: center;
}

/**************************************
   E_6　Tertiaryミニボタン（デフォルト）
***************************************/
.e_6_tertiaryminiBtn_default_txt {
    margin-left: 23px;
}
.e_6_tertiaryminiBtn_default {
    display: inline-block;
    padding: 11px 16px;
    width: 358px;
    max-width: 100%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50vh;
    border: 1px solid rgba(225,225,225,0.3);
    background: transparent;
    opacity: 1;
    position: relative;
    text-align: center;
}
.e_6_tertiaryminiBtn_default::before {
    content: url(../../../../prod_assets/img/compornents/g_icon/s_download.svg);
    position: absolute;
    left: 29.3%;
    top: 23%;
}

/**************************************
   E_6　Tertiaryタイニーボタン
***************************************/
.e_6_tertiarytinyBtn_fx {
    display: flex;
}
.e_6_tertiarytinyBtn_fx li:not(:last-child){
    margin-right: 30px;
}
.e_6_tertiarytinyBtn_white {
    display: inline-block;
    padding: 9px 7px;
    width: 64px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50vh;
    border: 1px solid rgba(225,225,225,0.3);
    background: transparent;
    opacity: 1;
    text-align: center;
}
.e_6_tertiarytinyBtn_opacity {
    display: inline-block;
    padding: 9px 7px;
    width: 64px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50vh;
    border: 1px solid rgba(225,225,225,0.3);
    background: transparent;
    opacity: 0.3;
    text-align: center;
}

/**************************************
   E_7　Quaternaryボタン（アイコンなし）
***************************************/
.e_7_QuaternaryBtn_noIcon {
    display: inline-block;
    padding: 16px 52px;
    width: 358px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.26px;
    border-radius: 50vh;
    background: transparent;
    opacity: 1;
    text-align: center;
}

/**************************************
   E_7　Quaternaryボタン（デフォルト）
***************************************/
.e_7_QuaternaryBtn_default_txt {
    margin-left: 23px;
}
.e_7_QuaternaryBtn_default {
    display: inline-block;
    padding: 16px 52px;
    width: 358px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50vh;
    background: transparent;
    opacity: 1;
    position: relative;
    text-align: center;
}
.e_7_QuaternaryBtn_default::before {
    content: url(../../../../prod_assets/img/compornents/g_icon/s_download.svg);
    position: absolute;
    left: 27%;
    top: 28%;
}

/**************************************
   E_8　Quaternaryミニボタン（アイコンなし）
***************************************/
.e_8_QuaternaryBtn_noIcon {
    display: inline-block;
    padding: 11px 16px;
    width: 358px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.26px;
    border-radius: 50vh;
    background: transparent;
    opacity: 1;
    text-align: center;
}

/**************************************
   E_8　Quaternaryミニボタン（デフォルト）
***************************************/
.e_8_QuaternaryBtn_default_txt {
    margin-left: 23px;
}
.e_8_QuaternaryBtn_default {
    display: inline-block;
    padding: 11px 16px;
    width: 358px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50vh;
    background: transparent;
    opacity: 1;
    position: relative;
    text-align: center;
}
.e_8_QuaternaryBtn_default::before {
    content: url(../../../../prod_assets/img/compornents/g_icon/s_download.svg);
    position: absolute;
    left: 27%;
    top: 28%;
}

/**************************************
   E_8　Quaternaryミニボタン（非強調）noAccent
***************************************/
.e_8_QuaternaryBtn_noAccent {
    display: inline-block;
    padding: 11px 16px;
    width: 358px;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0.26px;
    border-radius: 50vh;
    background: transparent;
    opacity: 1;
    text-align: center;
}

/**************************************
   E_9　アイコン付きボタン
***************************************/
.e_9_iconBtn {
    width: 88px;
    height: 24px;
    background-image: url(../../../../prod_assets/img/compornents/g_icon/m_filter_pink.svg);
    background-repeat: no-repeat;
    background-position: center left;
    display: flex;
}
.e_9_iconBtn button{
    margin-left: 32px;
    font-size: 14px;
    color: #ffffff;
}

/**************************************
   E_10　アコーディオン
***************************************/
.e_10_accordion dt:not(:last-child) {
    margin-bottom: 8px;
}
.e_10_accordion dt:not(:first-child) {
    margin-top: 16px;
}
.e_10_accordion {
    margin-bottom: 24px;
}
.e_10_accordionBtn {
    position: relative;
    display: flex;
    padding: 15px 36px 15px 12px;
    width: 100%;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid rgba(225,225,225,0.3);
    background: transparent;
    opacity: 1;
}
.e_10_accordionBtn::after {
    content: "";
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: rotate(135deg);
}
.e_10_accordionBtn.is_active::after {
    content: "";
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: rotate(-45deg);
}
.e_10_accordion_body {
    display: none;
}
.e_10_accordion_body.is_active {
    display: block;
}
.e_10_accordion_txt {
    padding: 8px;
    line-height: calc(22/14);
}

/**************************************
   E_11　プルダウン
***************************************/
.e11_pulldown button {
    position: relative;
    display: flex;
    padding: 14px 15.33px 14px 12px;
    width: 358px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    border-radius:2vh;
    border: 1px solid rgba(225,225,225,0.3);
    background: transparent;
    opacity: 1;
}
.e11_pulldown button::after {
    content: url(../../../../prod_assets/img/compornents/g_icon/xs_select.svg);
    position: absolute;
    right: 13px;
}

/***************************************
   *J_4　クーポン
****************************************/
.j_4_coupon {
    text-align: center;
}
.j_4_coupon li {
    display: inline-flex;
    align-items: center;
    background-image: url(../../../../prod_assets/img/compornents/j_list/sp_j_4coupon.svg);
    width: 358px;
    height: 104px;
    position: relative;
}
.j_4_coupon li:not(:last-child) {
    margin-bottom: 16px;
}
.j_4_coupon_cont {
    display: flex;
    align-items: center;
}
.j_4_coupon_left {
    font-size: 20px;
    font-weight: 600;
    line-height: calc(25 / 20);
    text-align: center;
    width: 122px;
    padding-left: 16px;
    padding-right: 16px;
}
.j_4_coupon_right {
    width: 236px;
    text-align: left;
    padding-left: 16px;
    padding-right: 24px;
}
.j_4_coupon_ttl {
    font-weight: 600;
    margin-bottom: 8px;
}
.j_4_coupon_txt {
    font-size: 12px;
    line-height: calc(20 / 12);
}
.j_4_coupon li.is_active {
    background-image: url(../../../../prod_assets/img/compornents/j_list/sp_j_4coupon_used.svg);
}
.j_4_coupon li.is_active .j_4_coupon_cont {
    opacity: .5;
}
.j_4_coupon_used {
    font-size: 12px;
    font-weight: 600;
    right: 16px;
    bottom: 16px;
    position: absolute;
}

/***************************************
   *J_15　チャンネルリスト
****************************************/
.j_15_channelList {
    display: flex;
    flex-direction: column;
}
.j_15_channelList li:not(:last-child) {
    margin-bottom: 16px;
}
.j_15_channelList li a {
    display: flex;
    align-items: center;
    position: relative;
}
.j_15_channelList li a::after {
    content: "";
    width: 5px;
    height: 5px;
    border: 0;
    border-top: solid 2px #FFF;
    border-right: solid 2px #FFF;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -4px;
    transform: rotate(45deg);
}
.j_15_channelList_img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 12px;
    width: 150px;
    height: 84px;
    margin-right: 16px;
}
.j_15_channelList img {
    width: 100%;
}
.j_15_channelList_body {
    flex: 1;
    padding-right: 32px;
}
.j_15_channelList_ttl {
    font-weight: 600;
    margin-bottom: 4px;
    line-height: calc(22 / 14);
    height: calc(1.6 * 1em);
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.j_15_channelList_price {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 8px;
}
.j_15_channelList_body > *:last-child {
    margin-bottom: 0;
}
.j_15_channelList_txt {
    font-size: 12px;
    line-height: calc(18 / 12);
    max-height: calc(1.5 * 2em);
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.j_15_channelList_label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3px;
}
.j_15_channelList_label .j_15_channelList_price {
    margin-right: .5em;
    margin-bottom: 0;
}

/***************************************
   K_4　星評価
****************************************/
.k_4_starEvaluation {
    display: flex;
    align-items: flex-end;
}
.k_4_starEvaluation svg {
    width: 3.59vw;
    height: auto;
}
.k_4_starEvaluation_value {
    font-size: 3.077vw;
    margin-left: 0.256vw;
}