@charset "UTF-8";

.ly_fixedCont {
  background: url(../../../../../prod_assets/img/r/dummy01.jpg);
}

/*-------------------------
  base
---------------------------------------------------------------------------*/

/*-------------------------
  layout
---------------------------------------------------------------------------*/
.r_03 .player_intro_btn{
  width: 100%;
}
.r_03 .player_intro_btn .replay_btn{
  width: 320px;
  height: 48px;
  margin: 40px auto 0;
}

/*-------------------------
  block
---------------------------------------------------------------------------*/



/*-------------------------
  element
---------------------------------------------------------------------------*/