@charset "UTF-8";

/*-------------------------
  base
---------------------------------------------------------------------------*/

/*-------------------------
  layout
---------------------------------------------------------------------------*/
.r_01_01 .video_popup {
  width: 100%;
  max-width: 976px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 40px;
  padding: 12px 12px 0 0;
  overflow: hidden;
}



/*-------------------------
  block
---------------------------------------------------------------------------*/

/*-------------------------
  element
---------------------------------------------------------------------------*/